---
layout: default
---

{% for portfolio in site.pages %}
	{% if portfolio.category == "portfolio" %}
		<div class="portfolioheader">
			<p> {{moon.name}} </p>
		</div>

		<div class="titleborder"> 
		</div>

		<div class="portfoliocontent">
			<p> Vivamus sed adipiscing ligula. Praesent tincidunt iaculis facilisis. Etiam vitae luctus nibh. Morbi lacus velit, cursus vitae eleifend ac, vestibulum eget velit. Nullam non suscipit felis. Etiam ornare nibh in diam mattis ac laoreet justo feugiat. Fusce vulputate gravida purus id molestie. Cras eget laoreet diam. </p>
		</div>

		<div class="{{portfolio.class}}">
		</div>
	{% endif %}
{% endfor %}